body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

  

.fullon{
    max-width: 800px;
    font-family: sant-serif;
    color: blue;
    margin:0 auto;
}
  
 .today{
     max-width: 800px;
     font-family:sant-serif;
     color:black;
     margin:0 auto;
     padding-right: 200px;
     padding-top:400px;
     padding-left:200px;
     padding-bottom:400px;
     
 }   
